{% extends 'app_base.html' %}

{% block content %}
<h2 class="mb-10 text-2xl text-center">Communities</h2>
<div>
    <section class="flex flex-col md:flex-row gap-8">
        <div class="w-full md:w-1/4 bg-white p-6 rounded-lg shadow">
            <h3 class="text-xl font-semibold mb-4">Crear comunidad</h3>
            <form action="/create-community" method="POST">
                <label for="name" class="w-full">
                    <p class="mt-4">Name: </p>
                    <input type="text" id="name" name="name" class="border border-gray-300 p-2 rounded w-full" required>
                </label>
                <label for="password" class="w-full">
                    <p class="mt-4">Password:</p>
                    <input type="password" id="password" name="password" class="border border-gray-300 p-2 rounded w-full" required placeholder="Enter a strong password">
                </label>
                <button class="w-full mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
                    Create Community
                </button>
            </form>
        </div>
        <div class="w-full md:w-3/4 bg-white p-6 rounded-lg shadow">
            <h3 class="text-xl font-semibold mb-4">Current Communities</h3>
            <div class="text-center flex flex-wrap gap-2">
                {% for community in user_communities %}
                    <div class="p-2">
                        <a href="/community/{{ community.id }}" class="bg-blue-100 px-4 py-2 rounded cursor-pointer hover:bg-blue-200">
                            {{ community.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="mt-8 bg-white p-6 rounded-lg shadow mb-10">
        <h3 class="text-xl font-semibold mb-4 text-center">Other Communities</h3>
        <section id="encryptedFileList" class="flex flex-wrap gap-2 justify-start">
            {% for community in other_communities %}
                <div class="p-2">
                    <div class="flex items-center">
                        <a class="bg-blue-100 px-4 py-2 rounded">
                            {{ community.name }}
                        </a>
                        <button 
                            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
                            onclick="promptJoin('{{ community.id }}', '{{ community.name }}')">
                            Join
                        </button>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
    
    <script>
        function promptJoin(communityId, communityName) {
            const password = prompt(`Enter the password for the community "${communityName}"`);
            if (password) {
                // Crear un formulario dinámico para enviar los datos al servidor
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `/join-community/${communityId}`;
                
                // Crear el campo de contraseña
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'password';
                input.value = password;
                form.appendChild(input);
                
                // Adjuntar y enviar el formulario
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
    
</div>

{% endblock %}